{% load static %}
<link rel="stylesheet" href="{% static 'Style.css' %}">
<h1>Welcome the Cohen and Bryt and co. Stocks service website</h1>
{% load static %}
<img  src="{% static "stocks.jpg" %}" alt = "stocks" class="center" /><br>
<a href="Query_Results">Query Results</a><br>
<a href="Add_Transaction">Add a transaction</a><br>
<a href="Buy_Stocks">Buy Stocks</a><br>

{#<p>#}
{#    Welcome to the Haifa Open Pokemon League, sponsored by Coca-Cola.#}
{#    The most reputable competition in Israel, officially recognized by FIPA.#}
{##}
{#</p>#}
{#<a href="Home">Home</a>#}
{#<br>#}
{#<a href="Query_Results">Query Results</a>#}
{#<br>#}
{#<a href="add_pokemon">Add a Pokemon</a>#}